body {
  font-family: Arial, sans-serif;
}
.menu {
  width: 300px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(209, 209, 209);
  border-radius: 6px;
}
.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5.5px;
}

.count {
  background-color: #3b82f6;
  color: white;
  border-radius: 20px;
  padding: 4px 12px;
  font-size: 14px;
}