p {
  font-family: Arial, Helvetica, sans-serif;
}

.youtube-install {
  background-color: black;
  width: 300px;
  border-style: solid;
  border-width: 0.5px;
  border-color: gray;
  padding-left: 15px;
  padding-bottom: 1px;
}

.install {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.add {
  color: gray;
  font-size: 13px;
  width: 300px;
  margin-top: 0;
}